<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museo Metropolitano</title>
</head>
<body>

    <div>
        <form>
            <label for = "titulo">Titulo</label>
            <input type = "text" name = "titulo"></input>

            <label for = "departamento">Departamento</label>
            <select name = "departamento">

                <% departments.departments.forEach(department => { %>
                    <option value= <%= department.departmentId %>> <%= department.displayName %></option>
                <% }) %>

            </select>

            <label for = "ubicacion">Ubicacion</label>
            <input type = "text" name = "ubicacion"></input>
        </form>
    </div>

</body>
</html>